---
import data from "../../public/data.json";
import Layout from "../layouts/Layout.astro";
import Planet from "../components/Planet.svelte";
import Cards from "../components/Cards.astro";

export function getStaticPaths() {
  return data.map((planet) => ({
    params: { planets: planet.name.toLowerCase() },
  }));
}

const { planets } = Astro.params;
const currentPlanetData = data.find(
  (planet) => planet.name.toLowerCase() === planets
);
---

<Layout>
  <main class="py-5 lg:py-16 lg:px-20 lg:space-y-20">
    <section class="flex justify-center items-center w-full">
      <Planet
        planet={currentPlanetData?.name}
        overviewText={currentPlanetData?.["overview"]}
        internalText={currentPlanetData?.["internal-structure"]}
        surfaceText={currentPlanetData?.["surface-geology"]}
        wikipedia={`https://en.wikipedia.org/wiki/${currentPlanetData?.name}_(planet)`}
        overviewImage={currentPlanetData?.["image-overview"]}
        internalImage={currentPlanetData?.["image-internal-structure"]}
        surfaceImage={currentPlanetData?.["image-surface-geology"]}
        overviewAlt={`Planet ${currentPlanetData?.name}`}
        internalAlt={`Planet ${currentPlanetData?.name} internal structure`}
        surfaceAlt={`Planet ${currentPlanetData?.name} surface geology`}
        color={currentPlanetData?.color}
        client:load
      />
    </section>
    <section
      class="grid grids-cols-1 md:grid-cols-2 xl:grid-cols-4 items-center gap-5 sm:gap-10"
    >
      <Cards
        title="Rotation Time"
        content={currentPlanetData?.["rotation-time"]}
      />
      <Cards
        title="Revolution Time"
        content={currentPlanetData?.["revolution-time"]}
      />
      <Cards title="Radius" content={currentPlanetData?.["radius"]} />
      <Cards
        title="Average Temp."
        content={currentPlanetData?.["average-temp"]}
      />
    </section>
  </main>
  <div class="flex justify-end">
    <a href="https://github.com/JhonRiv21" target="_blank" class="text-[11px] font-spartan text-white/60 hover:underline">Developed by Jhon Rivero</a>
  </div>
</Layout>
